.NavBar {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 30px;
}

.NavBar .rightSide {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.NavBar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.NavBar .rightSide .link-button {
  max-height: 80px;
}

.NavBar .rightSide .link-button button {
  text-decoration: none;
}

.cartNumber {
  background-color: red;
  color: white;
  overflow: hidden;
  border-radius: 50px;
}

.cartLogo {
  float: left;
}

.navbarButton {
  width: 100px;
  height: 30px;
  border-color: #393939;
  margin-right: 10px;
}

.login {
  background-color: none;
}

.register {
  background-color: #393939;
  color: white;
}

.cart {
  margin-right: 36px;
  margin-top: 50px;
  overflow: hidden;
}

.whole-cart {
  margin-top: 45px;
}

.dropdown {
  margin-top: 20px;
}

@media only screen and (max-width: 850px) {
  .NavBar .leftSide img {
    width: 70%;
  }
  .foto-profile {
    height: 85%;
  }
}

@media only screen and (max-width: 750px) {
  .cart-logo {
    height: 70%;
  }

  .foto-profile {
    height: 75%;
  }
}

@media only screen and (max-width: 650px) {
  .cart-logo {
    height: 70%;
  }

  .foto-profile {
    height: 75%;
  }
}
